@font-face
  font-family: 'Inter'
  src: url('@/assets/Inter-VariableFont_slnt,wght.ttf')
  font-weight: normal
  font-style: normal
    
html, body
  font-family: Inter
  margin: 0
  padding: 0
  overflow-x: hidden
  min-height: 100vh
  color: white
  background-color: #101010

button
  border: none